---
layout: empty
---

<div id="index" class="gradient-background">
  <div class="avatar">
    <div class="avatar-stack">
      <img src="/assets/images/avatars/avatar_square_background.png">
      <img src="/assets/images/avatars/avatar_square_foreground.png">
    </div>

    <p>{{ site.name }}</p>
    <p class="mail">✉️ {{ site.email }}</p>
    <p class="key"><a href="/about#publickey">🔒 8EEF E96D 3904 1184 4DCE 30A9 73E6 78E2 542C 0AF3</a></p>
  </div>

  <div class="navigation">
    <ul>
      <li><a href="/about">🏳️‍⚧️&nbsp;Who?</a></li>
      <li><a href="/blog">📝&nbsp;Blog</a></li>
      <!-- <li><a href="https://github.com/shanet">🐙&nbsp;GitHub</a></li> -->
      <li><a href="/projects">🐛&nbsp;Projects</a></li>
      <li><a href="/aviation">🛩️&nbsp;Aviation</a></li>
      <li><a href="/albums">📷&nbsp;Photography</a></li>
      <li><a href="/talks">🗣️&nbsp;Talks</a></li>
      <li><a href="/feed.xml" class="icon">{% include rss_icon.html %}</a></li>
    </ul>
  </div class="navigation">

  <div class="recent-posts">
    <h3>Recent Blog Posts</h3>

    <ul>
      {% for post in site.posts limit:7 %}
        <li><a class="post-link" href="{{ post.url }}">{{ post.title }}</a><br><span class="post-date">{{ post.date | date: "%Y %B %-d" }}</span></li>
      {% endfor %}
    </ul>

    <a href="/blog" class="more">All blog posts ➡️</a>
  </div>

  <div class="index-footer">
    <a href="https://github.com/shanet/blog">Built at: {{ "now" | date: "%Y-%m-%dT%H:%M:%S%z" }}</a>
  </div>
</div>
