<header class="site-header">
  <div class="wrap">
    <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav>
      <ul>
        <li><a href="https://github.com/shanet">GitHub</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/aviation">Aviation</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/assets/Shane_Tully_Resume.pdf">Resume</a></li>
        <li><a href="/assets/public_key.txt">PGP Public Key</a></li>
        <li><a href="#">sh&#97;&#x6e;&#x65;&#64;s&#104;&#x61;&#x6e;&#x65;tu&#108;&#x6c;&#x79;.c&#111;&#x6d;</a></li>
      </ul>
    </nav>
  </div>
</header>
