<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  {% assign timestamp = site.time | date: "%s" %}
  <link rel="stylesheet" href="{{ "/assets/styles/main.css?t=" | append: timestamp }}">

  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">

  {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
  {% endif %}
</head>
