<header class="gradient-background"></header>

<header class="site-header">
  <div class="wrap">
    <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/aviation">Aviation</a></li>
        <li><a href="/albums">Photography</a></li>
        <li><a href="#">{{ site.email }}</a></li>
        <li><a href="/feed.xml" class="icon">{% include rss_icon.html %}</a></li>
      </ul>
    </nav>
  </div>
</header>
