<header class="gradient-background"></header>

<header class="site-header">
  <div class="wrap">
    <div class="title">
      <a href="{{ site.baseurl }}/">
        <div class="avatar-stack">
          <img src="/assets/images/avatars/avatar_square_background.png">
          <img src="/assets/images/avatars/avatar_square_foreground.png">
        </div>

        {{ site.title }}
      </a>
    </div>

    <nav>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/aviation">Aviation</a></li>
        <li><a href="/albums">Photography</a></li>
        <li><a href="#">{{ site.email }}</a></li>
        <li><a href="/feed.xml" class="icon">{% include rss_icon.html %}</a></li>
      </ul>
    </nav>
  </div>
</header>
