@use "colors" as *;

.infobox {
  width: 200px;

  @media (min-width: 500px) {
    display: inline;
    float: right;
    margin: 0 0 0 0.5rem !important;
  }

  .avatar-stack {
    height: 300px;

    img {
      border-radius: 0.5rem !important;
    }
  }

  > div:last-child {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
  }
}

.queer-text {
  background: linear-gradient(90deg,rgba(228, 3, 3, 1) 0%, rgba(255, 140, 0, 1) 20%, rgba(171, 159, 0, 1) 40%, rgba(0, 128, 38, 1) 60%, rgba(0, 76, 255, 1) 80%, rgba(115, 41, 130, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.public-key {
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 3px solid #ccc;
  color: $code-color;
  font-family: monospace;
  font-size: 0.7rem;
  overflow-x: auto;
  padding: 1rem;
}

.where {
  padding-top: 3rem;
  text-align: center;

  p {
    color: $subtle-text-color;
    font-size: 0.8rem;
    font-style: italic;
    letter-spacing: 0.05rem;
    margin-top: 0.5rem;
  }

  img {
    border-radius: 10px;

    @media (min-width: 700px) {
      width: 70%;
    }
  }
}
