@import "colors";

$header-height: 56px;

.site-header {
  border-bottom: 1px solid #e8e8e8;
  line-height: $header-height;
  min-height: $header-height;

  .title {
    float: left;
    font-size: 26px;
    letter-spacing: -1px;
  }

  nav {
    float: right;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    li {
      margin-right: 5px;

      .icon {
        height: 100%;

        svg {
          display: block;
          height: 100%;
          width: 1.75rem;
          fill: $header-text-color;
        }
      }
    }

    a {
      color: $header-text-color;
      display: block;
      margin-right: 5px;

      &:hover {
        color: $text-color;
      }
    }
  }
}
