@import "colors";

header.gradient-background {
  height: 300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.site-header {
  margin-bottom: 1rem;
  padding-top: 1rem;

  .wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    flex-wrap: wrap;
  }

  .title {
    flex-grow: 1;
    font-size: 1.6rem;
    letter-spacing: -1px;
    padding-right: 1rem;

    a {
      align-items: center;
      display: flex;
    }

    .avatar-stack {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    li {
      margin-right: 5px;

      .icon {
        height: 100%;

        svg {
          display: block;
          fill: $header-text-color;
          height: 100%;
          width: 1.75rem;
        }
      }
    }

    a {
      color: $header-text-color;
      display: block;
      margin-right: 5px;

      &:hover {
        color: $text-color;
      }
    }
  }
}
