@import "colors";

@property --border-angle {
  inherits: true;
  initial-value: 0deg;
  syntax: '<angle>';
}

#index {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 0.5rem;
  row-gap: 1rem;

  .avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    .avatar-stack {
      margin-bottom: 1rem;
      height: 10rem;
      width: 10rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
    }

    p.mail {
      font-size: 1.1rem;
      margin-bottom: 0.25rem;
    }

    p.key {
      font-family: monospace;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  .navigation {
    max-width: 800px;

    @media (max-width: 800px) {
      max-width: 500px;
    }

    ul {
      column-gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 0.25rem;
      list-style: none;
    }

    a {
      color: $text-color;
      font-size: 1.1rem;
    }
  }

  .icon {
    align-items: center;
    display: flex;

    svg {
      fill: $text-color;
      height: 100%;
      width: 1.75rem;
    }

    svg.stroke {
      fill: none;
      stroke: $text-color;
    }
  }

  .recent-posts {
    --border-radius: 5px;

    background-color: rgba(200, 200, 200, 0.25);
    border-radius: var(--border-radius);
    padding: 1.5rem 2rem;
    position: relative;

    @media (min-width: 800px) {
      min-width: 700px;
    }

    &::before {
      animation: border-rotate 20s linear infinite forwards;
      background: linear-gradient(var(--border-angle), #614385, #516395, $highlight-color, rgba(255, 255, 255, 0.25));
      border-radius: var(--border-radius);
      content: "";
      inset: 0;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 0.15rem;
      pointer-events: none;
      position: absolute;
    }

    h3 {
      font-style: italic;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    ul {
      margin-left: 1rem;
    }

    li {
      line-height: 1rem;
      margin-bottom: 0.5rem;
    }

    .post-date {
      color: $subtle-text-color;
      font-size: 12px;
      font-style: italic;
    }

    a.more {
      display: block;
      font-size: 0.9rem;
    }
  }

  .index-footer {
    color: $subtle-text-color;
    font-size: 0.9rem;
    font-style: italic;
    padding-bottom: 1.75rem;
  }
}

@keyframes border-rotate {
  0% {
    --border-angle: 0deg;
  }

  100% {
    --border-angle: 360deg;
  }
}
