@use "colors" as *;

.page {
  margin-bottom: 30px;

  ul, ol {
    margin-left: 2rem;
  }

  img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  // Image links shouldn't be block elements from the style above
  a img, img.inline {
    display: inline;
  }

  .breadcrumbs {
    margin-top: 0.5rem;
  }
}

.page-center {
  text-align: center;
}

.page-right {
  text-align: right;
}

.page-header {
  margin: 10px 0;

  h1 {
    font-size: 36px;
  }

  .meta {
    color: $subtle-text-color;
    font-size: 15px;
  }
}

.page-content {
  > * {
    margin: 10px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  blockquote {
    border-left: 4px solid #aaa;
    color: #666;
    font-size: 18px;
    font-style: italic;
    margin: 20px 0;
    padding-left: 10px;
  }
}

.post-navigation {
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid #a2a9b1;
  display: table;
  font-size: 14px;
  padding: 5px;

  > p:first-child {
    font-weight: bold;
  }
}
