@use "colors" as *;

.projects-section {
  margin-bottom: 0 !important;

  + p {
    color: $subtle-text-color;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0;
  }
}

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.project-container {
  border-radius: 5px;
  border: 3px solid #ccc;
  display: flex;
  overflow: auto;
  padding: 5px;

  .project-info {
    margin-left: 10px;
  }

  .project-image {
    flex-shrink: 0;

    img {
      height: 100px;
      width: 100px;
    }
  }

  .project-title {
    font-size: 16px;
    font-weight: bold;
  }

  .project-link {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }

  .project-description {
    font-size: 12px;
  }
}
