.post-navigation {
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid #a2a9b1;
  display: table;
  font-size: 14px;
  padding: 5px;

  > p:first-child {
    font-weight: bold;
  }
}
