.post-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  > tbody > tr:not(:last-child) {
    border-bottom: 1px solid #999;
  }

  th, td {
    padding: 8px;
  }

  th {
    background-color: #D9EDF7;
    border-bottom: 1px solid #999;
    text-align: left;
    font-size: 14px;

    code {
      font-weight: normal;
    }
  }

  td {
    font-size: 13px;
  }
}
