---
---

@use "about";
@use "album";
@use "avatar";
@use "aviation";
@use "blog";
@use "gradient";
@use "header";
@use "iframe";
@use "index";
@use "layout";
@use "page";
@use "paginator";
@use "projects";
@use "syntax";
@use "table";

@use "ski_area_study";
@use "snowpack_analysis";

// Fix text size issue with Rouge codeblocks on safari mobile
.rouge-table {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  td, pre {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
