.book-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 375px;
    height: 150px;
    border: 3px solid #CCC;
    border-radius: 5px;
    text-align: left;
}

.book-container > div {
    display: inline-block;
}

.book-info {
    vertical-align:top;
    width: 235px;
    margin-left: 10px;
}

.book-image {
    width: 125px;
    height: 150px;
    border-radius: 5px;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.book-description {
    font-size: 12px;
}
