.project-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 375px;
    height: 100px;
    border: 3px solid #CCCCCC;
    border-radius: 5px;
    text-align: left;
}

.project-container > div {
    display: inline-block;
}

.project-info {
    vertical-align: top;
    width: 260px;
    margin-left: 10px;
}

.project-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.project-title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.project-link {
    font-weight:bold;
    text-decoration: none;
    font-size: 12px;
}

.project-description {
    font-size: 12px;
}
