.post-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.post-table > tbody > tr:not(:last-child) {
    border-bottom: 1px solid #999;
}

.post-table th, .post-table td {
    padding: 8px;
}

.post-table th {
    background-color: #D9EDF7;
    border-bottom: 1px solid #999;
    text-align: left;
    font-size: 14px;
}

.post-table th code {
    font-weight: normal;
}

.post-table td {
    font-size: 13px;
}
